<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">Gestión de citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="quoteForm" (ngSubmit)="addQuote(quoteForm.value)">
    <div class="form-container">
      <ion-label class="title">Crear una cita</ion-label>
      <ion-item>
        <ion-label position="floating">Cita</ion-label>
        <ion-textarea formControlName="quote"></ion-textarea>
      </ion-item>
      <div
        *ngIf="quoteForm.get('quote')?.invalid && quoteForm.get('quote')?.touched"
      >
        <span
          class="error-message"
          *ngIf="quoteForm.get('quote')?.errors?.['required']"
        >
          La cita es obligatoria.
        </span>
        <span
          class="error-message"
          *ngIf="quoteForm.get('quote')?.errors?.['minlength']"
        >
          La cita debe tener al menos 5 caracteres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Autor</ion-label>
        <ion-input formControlName="author"></ion-input>
      </ion-item>
      <div
        *ngIf="quoteForm.get('author')?.invalid && quoteForm.get('author')?.touched"
      >
        <span
          class="error-message"
          *ngIf="quoteForm.get('author')?.errors?.['required']"
        >
          El autor es obligatorio.
        </span>
        <span
          class="error-message"
          *ngIf="quoteForm.get('author')?.errors?.['minlength']"
        >
          El autor debe tener al menos 2 caracteres.
        </span>
      </div>
      <ion-button
        expand="block"
        type="submit"
        class="add-quote-button"
        [disabled]="!quoteForm.valid"
        >AGREGAR +</ion-button
      >
    </div>
  </form>
  <ion-list>
    <ion-item
      *ngFor="let item of quotes; let i = index"
      lines="full"
      class="quote-item"
    >
      <ion-label class="ion-text-wrap">
        <p class="quote-text">"{{ item.quote }}"</p>
        <p class="quote-author">- {{ item.author }}</p>
      </ion-label>
      <ion-button
        *ngIf="allowDeleteOnHome"
        fill="clear"
        color="danger"
        (click)="deleteQuote(i)"
        slot="end"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
