<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-left">Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Citas</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-quote *ngIf="currentQuote" [quote]="currentQuote"></app-quote>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToQuotesManagement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
